.travels {
	height: 100%;
}

.travels_top{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(100% - 100px);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur(4px);
	padding-top: 215px;
}

.travels_titles {
	display: flex;
	flex-direction: column;
	padding-right: 360px;
}

.travels_titles h4 {
	font-size: 36px;
	font-weight: 700;
	color: #000;
	padding-bottom: 55px;
}

.travels_titles h1 {
	font-size: 64px;
	font-weight: 700;
	color: #000;
}

.travels_titles h1 span {
	color: #00A99F;
}

.travels_carousel {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}

.travels_pyri_pyri {
	display: flex;
}
