.InputBlockProfile {
	display: flex;
	flex-direction: column;
  margin: 150px 0px;

}

.MyProfileBlock {
  background-color: white;
}

.InputBlockProfile input {
	background-color: #d9d9d9;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px;
	margin: 30px 30px;
	width: 350px;
	height: 60px;
	padding: 12px 26px;
	
}

.VerticlaLine {
	border: 2px solid black;
	height: 800px;
}

.TicketBlockMain {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.MyProfileMain {
	display: flex;
}


.Ptxt {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 150px;
}

.Pyp {
  margin-right: 30px;
}