.travels_calendar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-top: 350px;
}

.search_calendar {
	width: 900px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
