.item_block {
	margin: 0 auto;
	margin-bottom: 2rem;
	height: 485px;
	width: 380px;
	border-radius: 30px;
	box-shadow: 5px 5px 25px black;
	display: flex;
	align-items: end;
	overflow: hidden;
	font-family: 'Merriweather', serif;
	position: relative; /* Додав position: relative для .item_block */
}

.display {
	height: 485px;
	width: 380px;
	position: absolute;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	font-family: 'Poppins', sans-serif;
}

.item_photo {
	position: relative;
}

.item_info {
	height: 132px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #272444;
	padding: 15px 0;
	position: relative;
}

.info_middle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info_title {
	color: white;
	font-size: 24px;
	margin-left: 20px;
}

.info_price {
	color: gray;
	font-size: 24px;
}

.item_btn {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	background-color: #272444;
	margin-left: 20px;
	margin-top: 10px;
}

.Container {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.score {
	margin-right: 15px;
}

#seats {
	position: absolute;
	bottom: 29px;
	right: 22px;
	color: white;
	font-size: 30px;
}
