.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #e8e8e8;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	height: 100px;
	padding: 0 30px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav_logo {
	cursor: pointer;
}
.logo_text {
	color: #00a99f;
	font-size: 32px;
	font-weight: bold;
}

.logo_text span {
	padding-right: 5px;
}

.nav_list {
	display: flex;
	column-gap: 2rem;
	align-items: center;
}

.nav_link {
	color: black;
	font-size: 32px;

	padding-bottom: 2px;
}

.nav_link:hover {
	color: #00a99f;
}
.nav_acc {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.singin {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.singin .nav_item {
	padding-right: 1.5rem;
}

.activePage {
	color: #00a99f;
	font-size: 32px;

}
