.search {
	position: relative;
	top: 150px;
}

.inputSearch {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 40px 20px;

	width: 900px;
	border-radius: 20px;
	font-size: 36px;
	outline: none;
	font-weight: bold;
}

.iconSearch {
	width: 90px;
	height: 90px;
	position: absolute;
	right: 15px;
	top: 25px;
}
